/node_modules/
/lib/
/test/
/dist/mockData
/dist/test
custom-elements.json
# top level source
/dist/hotel-card.js.map
/dist/hotel-card.d.ts
/dist/hotel-card.d.ts.map
/dist/hotel-card.css.d.ts
/dist/hotel-card.css.d.ts.map
/dist/hotel-card.css.js
/dist/hotel-card.css.js.map
# only generated for size check
/dist/hotel-card.bundled.js